<div class="overflow-x-auto w-full">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>名前</th>
        <th>プロフィール</th>
        <th>ダイレクトメッセージ</th>
      </tr>
    </thead>
    <tbody>
      <!-- ユーザー情報 -->
      <% @users.each do |user| %>
        <tr>
          <td>
            <div class="flex items-center space-x-3">
              <% if user.profile_image.url.nil? %>
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                  <div class="w-10 rounded-full">
                    <%= user_avatar(user.name) %>
                  </div>
                </label>
              <% else %>
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                  < class="w-10 rounded-full">
                    <%= image_tag user.profile_image.url, class: "profile-img" %>
                  </div>
                </label>
              <% end %>
              <div class="font-bold">
                <%= user.name %>
                <%= button_to "詳細ページへ", user_path(id: user.id), method: :get, class: "btn btn-primary" %>
              </div>
            </div>
          </td>
          <td>
            <%= user.self_introduction %>
          </td>
          <td>
            <%= button_to "メッセージを送る", chat_rooms_path(params: { user_id: user.id }), method: :post, class: "btn btn-secondary"  %>
          </td>
        </tr>
      <% end %>
  </table>
</div>