<%# 投稿表示 %>
<div class="card w-96 bg-base-100 shadow-xl mx-auto">
  <%# 投稿画像 %>
  <%= image_tag @post.arts.first.image.url(:medium) %>
  <%# 投稿情報 %>
  <div class="card-body">
    <%# 作品詳細 %>
    <%= @post.art_text %>
    <%# 削除ボタン %>
    <% if @post.user_id == current_user.id %>
      <div class="card-actions">
        <%= button_to "削除", post_path(@post), method: :delete, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <%# コメント　%>
  <%# コメント一覧　%>
  <h2 class="mx-auto">コメント一覧</h2>
  <div class="overflow-x-auto w-full">
    <table class="table w-full">
    <%# コメントテーブル　%>
    <% @comments.each do |comment| %>
    <% comment_user = User.find_by(id: comment.user_id) %>
      <tr>
        <td>
        </td>
        <td>
          <%= comment.comment %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>

    <%# コメント投稿　%>
    <div class="flex justify-center">
      <%= form_with(model: [@post, @comment], local: true, method: :post) do |f| %>
        <%= f.text_field :comment, class: "textarea textarea-primary" %>
        <br>
        <div class="text-center">
          <%= f.submit 'コメントする', class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>