<div class="user-index-page">

  <div class="swipe flex justify-center flex-col">
    <div class="swipe--status">
    </div>

    <%# 重ね合わせたカード %>
    <div class="swipe--cards stack mt-5 mb-5">
      <% @posts.each do |post| %>
        <div class="swipe--card grid card w-96 bg-base-100 shadow-xl" id="<%= post.id %>">
          <%= image_tag post.arts.first.image.url(:medium), class:"profile-img" %>
          <%# 投稿情報 %>
          <div class="card-body">
            <%# 作品詳細 %>
            <%= post.art_text %>
            <div class="justify-end card-actions">
              <%# user詳細　%>
              <% post_user = User.find_by(id: post.user_id) %>
              <%# user name %>
              <%= post_user.name%>
              <%# user avatar %>
              <% if post_user.profile_image.url.nil? %>
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                  <div class="w-10 rounded-full">
                    <p>画像設定なし</p>
                  </div>
                </label>
              <% else %>
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                  <div class="w-10 rounded-full">
                    <%= image_tag post_user.profile_image.url, class: "profile-img" %>
                  </div>
                </label>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="swipe--buttons mx-auto mb-5">
      <button id="dislike" class="btn btn-secondary">dislike</button>
      <button id="like" class="btn btn-primary">like</button>
    </div>
  </div>

</div>