<!DOCTYPE html>
<html data-theme="cyberpunk">
  <head>
    <title>Sakujiru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col min-h-screen">
    <% unless current_page?(root_path) %> <%# unlessで現在のページがrootなら呼び出さない
    <%# header %>
    <header class="flex-grow">
      <%= render "partial/header" %>
    </header>
    <% end %>
    <main class="flex-grow">
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
    </main>
    <%# footer %>
    <footer>
      <%= render "partial/footer" %>
    </footer>
  </body>
</html>
